@font-face{
	font-family: "lokicola";
	src: url("../../dist/fonts/la Chatte a Maman.ttf");
}
@font-face{
	font-family: "titulos";
	src: url("../../dist/fonts/IFC RAILROAD 2.ttf")
}
@font-face{
	font-family: "barba";
	src: url("../../dist/fonts/Rio Oro.otf");
}
