.angelo{
	@extend .clearfix;
	background-image: url("../../dist/img/angelo2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	.angelo-hook{
		@extend .col-xs-12;
		padding: 5rem 0rem;
		.img-angelo{
			width: 80%;
			@media(min-width: map-get($grid-breakpoints,md)){
				width: 50%;
			}
			@media(min-width: map-get($grid-breakpoints,lg)){
				width: 25%;
			}
		}
	}
}

.angelo2{
	@extend .clearfix;
	background-image: url("../../dist/img/angelo3.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	.angelo-hook{
		@extend .col-xs-12;
		padding: 5rem 0rem;
		.img-angelo{
			width: 80%;
			@media(min-width: map-get($grid-breakpoints,md)){
				width: 40%;
			}
			@media(min-width: map-get($grid-breakpoints,lg)){
				width: 20%;
			}
		}
	}
}